{% from "_macros.html.jinja" import link, send_trait, sync_trait -%}

All types are allocated on the stack by default, and considered owned. Values can be marked as mutable via a
    <span class='code'>mut</span> binding or a <span class='code'>&mut</span> borrow.
